@media all and (max-width: 1340px) {
	.sidebar {
		display: none;
	}
}
@media all and (max-width: 1020px) {
	article img { width: 100%; }
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	article > * { width: calc(100% - 40px);}
	section div p,section div h1,{width: 60%}
	section div:nth-of-type(1){margin-left: -100px;}
	#a{margin-left: 100px;}
	#b{margin-left: 100px;}
}
@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
	body { min-width: 320px; }
	article > * { width: calc(100% - 40px); }
	.index-item{ width: calc(100% - 40px); }
	.btn-black{margin-top: 20px}
	section div p{font-size: 18px;line-height: 20px; width: 100%}
	section div h1{font-size: 24px;line-height: 30px; width: 100%}
}
